{% extends '../includes/base-main.html' %}
{% load static %}
{% block content %}
{% include './header.html' %}
<form action="{% url 'news_page' %}" method="post">
    <div class="row justify-content-between my-5 h-100 row-gap-3">
        <div class="col-3 flex-grow-1">
            <p class='text-title m-0 w-100'>Новости</p>
        </div>
        {% csrf_token %}
        <div class="col-12 ps-0 col-sm-3">
            <input type="text" name="news_words" class="App-input w-100 m-0 p-3 h-100 App-big-text" placeholder="Ключевые слова" value="{{ filters }}"/>
        </div>
        <div class="col-6 p-0 col-sm-auto">
            <button class="rounded-btn p-1 w-100 h-100" type="submit">Применить</button>
        </div>
        <div class="col-6 col-sm-auto self-align-end">
            <button class="rounded-btn p-1 w-100 h-100" name="reset" type="submit">Очистить</button>
        </div>
    </div>
</form>
<div class="cards">
    {% for item in data %}
        <div class="card" style="background: rgba(12, 12, 12, 0.4);border-radius: 28px; margin-bottom: 50px;">
            <div class="row g-0"  style="background: rgba(12, 12, 12, 0.4);border-radius: 28px;">
                <div class="col-md-4">
                    <div class="App-big-text m-5 mb-5">{{ item.text }}</div>
                    <a href="{{ item.link }}" target="_blank" class="App-link align-self-end m-5 mt-auto mb-5 align-bottom"><button class="rounded-btn mb-3">Читать
                        полностью</button></a>
                </div>
                <div class="col-md-8">
                    <img class="img-fluid" src="{{ item.image_link }}">
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}