{% extends '../includes/base-auth.html' %}
{% load static %}
{% block title %}
Смена пароля
{% endblock %}
{% block content %}
{% include './header.html' %}
<main class="main-auth">
  <p class='App-h1'>Изменение пароля</p>
  <form class='App-login-form' method="POST" action="{% url 'password-change' %}">
    {% csrf_token %}
    <label for='login-password-input' class='App-label'>Текущий пароль</label>
    <input id='login-password-input' required class='App-input' name="old_password" autocomplete="current-password"
      type='password' placeholder='| Введите текущий пароль'></input>
    <div class="App-label">{{form.current_password.errors}}</div>
    <label for='login-password-input' class='App-label'>Новый пароль</label>
    <input id='login-password-input' required class='App-input' name="new_password1" autocomplete="new-password" type='password'
      placeholder='| Введите новый пароль'></input>
    <div class="App-label">{{form.password1.errors}}</div>
    <label for='login-password-input' class='App-label'>Повторите новый пароль</label>
    <input id='login-password-input' required class='App-input' name="new_password2" autocomplete="new-password" type='password'
      placeholder='| Повторите новый пароль'></input>
    <div class="App-label">{{form.password2.errors}}</div>
    <input type="submit" class='App-button' value="СМЕНИТЬ ПАРОЛЬ">
  </form>
</main>
{% endblock %}