{% extends '../includes/base-auth.html' %}
{% load static %}
{% block title %}
Сброс пароля
{% endblock %}
{% block content %}
{% include './header.html' %}
<main class="main-auth">
  <p class='App-h1'>Сброс пароля</p>
  <form class='App-login-form p-4' style="z-index: 1;" method="POST" action="{% url 'password-reset' %}">
    {% csrf_token %}
    <label for='login-password-input' class='App-label'>Электронная почта</label>
    <input id='email-input' required class='App-input' name="email" autocomplete="email"
      type='email' placeholder='| Введите email'></input>
    <div class="App-label">{{form.email.errors}}</div>
    <input type="submit" style="font-size: 28px !important;" class='rounded-btn p-3 m-0 w-100' value="Сбросить пароль">
  </form>
</main>
{% endblock %}